.antd-pro-charts-pie-percent{
  font-size: 15px;
}
.antd-pro-charts-pie-legendTitle{
  font-size: 20px;
}
.antd-pro-charts-pie-value{
  font-size: 20px;
}
.antd-pro-charts-pie-pie{
  margin-top: 20px;
}