.cleaners .ant-card-head{
  font-size: 24px;
  background-color: #424e56 ;
  color: rgb(220,220,220) ;
  font-family: 'Ubuntu',sans-serif;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.cleaners .ant-table-thead > tr >th{
  color: white;
  background: #b36096 !important;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}


.cleaners .ant-table-wrapper{
  box-shadow: 10px 10px 5px #888888
}


.cleaners .ant-table-tbody >tr >td{
font-family: 'Poppins', sans-serif;
font-weight: 450;
} 

.cleaners-tab .ant-table-header{
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}
