.client{
background-color: #364d79;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  margin: 15px;
  box-shadow: 10px 10px 5px #888888;
  transition: all 0.3s ease;
  border-radius: 10px;
}


.cleaner{
  background-color: #b36096;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  margin: 15px;
  box-shadow: 10px 10px 5px #888888;
  transition: all 0.3s ease;
  border-radius: 10px;
}

.client .ant-card-body li{
  color: #fff;
}

.cleaner .ant-card-body li{
  color: #fff;
}
.client .ant-card-head-title{
  font-size: 36px;
  color:#fff;
  font-family: 'Ubuntu',sans-serif;
}
.job-card .ant-card-head-title{
  font-size: 36px;
  color:#fff;
  font-family: 'Ubuntu',sans-serif;
}
.cleaner .ant-card-head-title{
  font-size: 36px;
  color:#fff;
  font-family: 'Ubuntu',sans-serif;
}

.job-chart{
  margin-top: 10px;
}