.mg-header{
  background-color: #fff;
  padding-left: 0;
  height: 90px;
}
.mg-logo {
  float: left;
  width: 200px;
  height: 100%;
  margin-left: 10px;
}
img{
  height: 100%;
  width: 100%;
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
.ant-menu{
  background-color: #424e56;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-weight: bolder;
  font-size: large;
}

li.ant-menu-item{
  background-color: rgba(66,78,86);
  margin: 0 !important; 
  font-size: small;
}



.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}