.jobs .ant-card-head{
  font-size: 24px;
  background-color: #424e56 ;
  color: rgb(220,220,220) ;
  font-family: 'Ubuntu',sans-serif;
}
.jobs .ant-table-thead > tr >th{
  color: white;
  background: #7db00e !important;
  font-family: 'Poppins', sans-serif;
}


